{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon Meta (Favicon.ico) -->
        
        <!-- Open Graph Meta Tags -->

        <!-- CSS Files -->
        <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        <!-- Custom CSS files for other pages -->
        {% block extra_css %}{% endblock %}

        <!-- Extra Meta Tags for specific Pages -->
        {% block extra_meta %}{% endblock %}

        <div class="page-wrapper">

            <!-- Navigation and Annoucement Wrapper -->
             <div class="nav-wrapper">

                <!-- Navigation Bar -->
                <nav class="navbar">
                    <a href="{% url 'MAIN:home' %}" class="logo-space">
                        <div class="logo-image">
                            <img src="{% static 'images/AtlasDocksLogo.png' %}" alt="logo">
                        </div>
                    </a>
                    
                    <ul class="nav-links">
                        <li class="nav-item">
                            <a href="#" class="nav-link">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">PRODUCTS</a>
                            <div class="dropdown">
                                <a href="#" class="dropdown-item">New Residential</a>
                                <a href="#" class="dropdown-item">New Commerical</a>
                                <a href="#" class="dropdown-item">Ramps & Walkways</a>
                                <a href="#" class="dropdown-item">Transient Systems</a>
                                <a href="#" class="dropdown-item">Additions</a>
                                <a href="#" class="dropdown-item">Accessories</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">SERVICES</a>
                            <div class="dropdown">
                                <a href="#" class="dropdown-item">Emergency Service</a>
                                <a href="#" class="dropdown-item">Preventative Maintenance</a>
                                <a href="#" class="dropdown-item">Commerical Repairs</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">ABOUT</a>
                            <div class="dropdown">
                                <a href="#" class="dropdown-item">About Us</a>
                                <a href="#" class="dropdown-item">Testimonials</a>
                                <a href="#" class="dropdown-item">Careers</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">CONTACT</a>
                        </li>
                    </ul>
                </nav>
            </div>


            <!-- Footer -->
            <footer class="footer">
                <div class="footer-content">
                    <!-- Find Us Section -->
                    <div class="footer-section">
                        <h3>Find Us</h3>
                        <div class="address">
                            <p><strong>Atlas Docks</strong></p>
                            <p>248 Keystone Industrial Park Drive</p>
                            <p>Camdenton, Missouri 65020</p>
                            <p>United States</p>
                        </div>
                    </div>

                    <!-- Contact Us Section -->
                    <div class="footer-section">
                        <h3>Contact Us</h3>
                        <p>Phone: (573)-346-3625</p>
                        <p>Email: info@atlasdocks.com</p>
                        <p><i class="fab fa-facebook"></i> Facebook: <a href="https://www.facebook.com/DOCKSLAKEOZARK" target="_blank">DOCKSLAKEOZARK</a></p>
                    </div>

                    <!-- Certifications Section -->
                    <div class="certifications">
                        <div class="cert-image">
                            <img src="{% static 'images/bbb-seal.png' %}" alt="bbb-seal">
                        </div>
                        <div class="cert-image">
                            <div class="mda-seal">
                                <img src="{% static 'images/marine-dealers-association-seal.jpg' %}" alt="marine-dealers-seal">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Copyright -->
                <div class="copyright">
                    © 2025 ATLAS DOCKS. ALL RIGHTS RESERVED.
                </div>
            </footer>
        </div>

    </head>
</html>