{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon Meta (Favicon.ico) -->
        
        <!-- Open Graph Meta Tags -->

        <!-- CSS Files -->
        <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        <!-- Custom CSS files for other pages -->
        {% block extra_css %}{% endblock %}

        <!-- Extra Meta Tags for specific Pages -->
        {% block extra_meta %}{% endblock %}

        <div class="page-wrapper">

            <!-- Navigation and Annoucement Wrapper -->
             <div class="nav-wrapper">

                <!-- Navigation Bar -->
                 

             </div>
        </div>

    </head>
</html>
